* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(170, 212, 220);
    color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.header {
    background: rgb(224, 162, 173);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    height: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacio entre los ítems del menú */
    height: inherit;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

section {
    text-align: center;
    margin: 30px auto;
}

.principal {
    background-color: rgb(116, 160, 145);
    padding: 100px;
    margin: 20px;
}

.secundario {
    background-color: rgb(111, 180, 180);
    text-align: right;
    padding: 200px 50px;
    margin: 50px 100px;
}

.tres {
    background-color: rgb(149, 220, 193);
    text-align: left;
    padding: 25px 100px 200px 50px;
    margin: 25px 50px 200px 100px;
}
